#contenedor{
    background-color: #F4ABF2;
    border-radius:5px;
    text-align:center;
    margin-left:20px;
    box-shadow: 5px 5px 5px #ccc;
    margin-left:20px;
}
#cabecera{
    background-color:#efcc94;
                    border: 2px solid #ff0000;
    height: 20%;
                    border-radius: 5px;
                    border: 2px solid #FF0000;
}
#menu{
    height:10%;
    background-color:#C8CACC;
                    border-radius: 5px;
                    border: 1px solid #FF0000;
                    margin-top: 2;
}
#enlace1{
    height: 20%;
    background-color: #2355df;
    float: left;
    width: 19%;
                    border-radius: 5px;
                    border: 5px solid #302222;
                    margin-top: 1;
}
#enlace2{
    height: 20%;
    background-color: #2355df;
    float: left;
    width: 19%;
                    border-radius: 5px;
                    border: 5px solid #302222;
                    margin-top: 1;
}
#enlace3{
    height: 20%;
    background-color: #2355df;
    float: left;
    width: 19%;
                    border-radius: 5px;
                    border: 5px solid #302222;
                    margin-top: 1;
}
#enlace4{
    height: 20%;
    background-color: #2355df;
    float: left;
    width: 19%;
                    border-radius: 5px;
                    border: 5px solid #302222;
                    margin-top: 1;
}
#enlace5{
    height: 20%;
    background-color: #2355df;
    float: left;
    width: 19%;
                    border-radius: 5px;
                    border: 5px solid #302222;
                    margin-top: 1;
}
#enlace6{
    height: 20%;
    background-color: #2355df;
    float: left;
    width: 19%;
                    border-radius: 5px;
                    border: 5px solid #302222;
                    margin-top: 1;
}
#enlace7{
    height: 20%;
    background-color: #2355df;
    float: left;
    width: 19%;
                    border-radius: 5px;
                    border: 5px solid #302222;
                    margin-top: 1;
}
#enlace8{
    height: 20%;
    background-color: #2355df;
    float: left;
    width: 19%;
                    border-radius: 5px;
                    border: 5px solid #302222;
                    margin-top: 1;
}
#enlace9{
    height: 20%;
    background-color: #2355df;
    float: left;
    width: 19%;
                    border-radius: 5px;
                    border: 5px solid #302222;
                    margin-top: 1;
}
#enlace10{
    height: 20%;
    background-color: #2355df;
    float: left;
    width: 19%;
                    border-radius: 5px;
                    border: 5px solid #302222;
                    margin-top: 1;
}
