body {
    background-color: red;
}
h1 {
    color: rgb(58, 73, 4);
    font-size: 24px;
    padding: 30px;
    margin: 5px;
    background-color: rgb(91, 231, 35);
}
h2 {
    color: rgb(35, 15, 214);
    padding: 60px;
    background-color: rgb(140, 225, 240);
}


